<div class="container alert alert-secondary" role="alert">
    My saved cards:<br/><br />
    <app-businesscard></app-businesscard>
    <app-businesscard></app-businesscard>
    <app-businesscard></app-businesscard>
    <app-businesscard></app-businesscard>
    <app-businesscard></app-businesscard>
</div>
<a [routerLink]="['/webcam']" routerLinkActive="router-link-active">Add a new business card (using webcam)</a><br /><br />
<button class="btn btn-primary" (click)="onLogout()">Logout</button> 

