<div>
    <webcam [height]="300" [width]="300" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
            [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
            [videoOptions]="videoOptions"
            [imageQuality]="1"
            (cameraSwitched)="cameraWasSwitched($event)"
            (initError)="handleInitError($event)"
    ></webcam>
    <br/>
    <button class="actionBtn" (click)="triggerSnapshot();">Take A Snapshot</button>
    <button class="actionBtn" (click)="toggleWebcam();">Toggle Webcam</button>
    <br/>
    <button class="actionBtn" (click)="showNextWebcam(true);" [disabled]="!multipleWebcamsAvailable">Next Webcam</button>
    <input id="cameraSwitchCheckbox" type="checkbox" [(ngModel)]="allowCameraSwitch"> <label for="cameraSwitchCheckbox">Allow Camera Switch</label><br />  
    <button class="actionBtn" [routerLink]="['/']" routerLinkActive="router-link-active">Return to cards list without saving</button>
</div>

<div class="snapshot" *ngIf="webcamImage">
  <h2>Nice one!</h2>
  <img [src]="webcamImage.imageAsDataUrl"/><br />
   <h3>Create Customer</h3>
  <div [hidden]="submitted" style="width: 300px;">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" id="firstname" required [(ngModel)]="customer.firstname" name="firstname">
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" id="lastname" required [(ngModel)]="customer.lastname" name="lastname">
      </div>
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="text" class="form-control" id="email" required [(ngModel)]="customer.email" name="email">
      </div>
      <div class="form-group">
        <label for="additionalinfo">Additional Info</label>
        <input type="text" class="form-control" id="additionalinfo" required [(ngModel)]="customer.additionalinfo" name="additionalinfo">
      </div>  
      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="text" class="form-control" id="phone" required [(ngModel)]="customer.phone" name="phone">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>   <!-- [routerLink]="['/']" routerLinkActive="router-link-active" -->
      <!-- <button class="actionBtn" [routerLink]="['/']" routerLinkActive="router-link-active">Save image and text as card and return to cards list</button><br /><br /> 
      --> 
    </form>
  </div>

<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
  <li>{{error | json}}</li>
</ul>

